*
!/lead-to-site/
!/lead-to-site-ui/
!/README.md
!/CHANGELOG.md
!.gitignore
!/coldmath/**
!/coldmath/
!/coldmath-dashboard/**
!/coldmath-dashboard/
!/projects/
!/projects/**
!/trading-dashboard/
!/trading-dashboard/**

